#######################################################################################################################
# Upsun demo project configuration
#######################################################################################################################
# Application configuration.
applications:    
    # App 1: Frontend (JS)
    frontend:

        source:
            root: "frontend"

        type: "nodejs:18"

        build:
            flavor: none

        dependencies:
            nodejs:
                npm: '*'

        variables:
            env:
                NPM_VERSION: '10.2.4'
                REACT_APP_BACKEND_URL: "/"

        hooks:
            build: |
                set -e
                npm -v
                npm upgrade -g npm --verbose
                npm -v
                npm prune --userconfig .npmrc && npm install --userconfig .npmrc
                export REACT_APP_PROJECT_ID=$PLATFORM_PROJECT
                npm run build

        relationships:
           api: "backend:http"

        web:
            locations:
                /:
                    root: build
                    index:
                        - index.html
                    expires: 2m
                    scripts: false
                    allow: true
                    rules:
                        static\/*:
                            expires: 365d

    # App 2: Backend (Python)
    backend:

        source:
            root: "backend"

        type: "python:3.11"

        build:
            flavor: none
        hooks:
            build: |
                set -eux
                pip install --upgrade pip
                pip install -r requirements.txt
                
        web:
            commands:
                start: "gunicorn main:app"
            upstream:
                socket_family: tcp
            locations:
                /:
                    passthru: true

# #add_service_start
# ######################################################################################################################
# # Step 3: Add a service. Uncomment this section.
# ######################################################################################################################
#         relationships:
#             redis_session: "redis_service:redis"

# services:
#     redis_service:
#         type: "redis:7.0"
# ######################################################################################################################
# #add_service_end
    
# Routes configuration.
routes:
    "https://{default}/":
        id: frontend
        type: upstream
        primary: true
        upstream: "frontend:http"

    "https://www.{default}":
        id: frontend-redirect
        type: redirect
        to: "https://{default}/"

    "https://{default}/api/":
        id: backend
        type: upstream
        upstream: "backend:http"
