name: Node.js CI

# on:
#   pull_request:
#     branches:
#     - main 

on:
  label:
    types: [created, deleted]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x, 20.x]

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - uses: actions/setup-python@v4 
        with:
          python-version: '3.11'
          cache: 'pip'
      - run: |
          export CI=true
          npm install cross-env npm-run-all -g
          npm install
          npm run test
